<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084484915813-r8oi1skv3k010m1rn7usnqnb4q5nj955.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084484915813-r8oi1skv3k010m1rn7usnqnb4q5nj955</string>
	<key>API_KEY</key>
	<string>AIzaSyAhlCF5sa95IdOHIz7CufphgQxSgUU0x1o</string>
	<key>GCM_SENDER_ID</key>
	<string>1084484915813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vijayamadhavi.FirestoreApplication</string>
	<key>PROJECT_ID</key>
	<string>firestoreapp-4d8cf</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoreapp-4d8cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084484915813:ios:c43dc50ea958c88590ac8c</string>
</dict>
</plist>